body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

.square {
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 10%;
}

h1 {
	text-align: center;
	color: white;
	background-color: steelblue;
	font-weight: normal;
	margin: 0;
}

span {
	color: white;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}